*{
    padding: 0px;
    font-family: sans-serif;
    margin: 0px;
}

header{
    background-image: url(images.png);
    padding: 20px 0%;
    width: 100%;
    min-height: 10px;
    max-height: 150px;
    color: bisque;
    background: linear-gradient(to left,brown, red, purple);
    overflow: hidden;
}

/* header img{
    width: 20%;
    height: 20%;
    opacity: 0.4;
    max-width: 172px;
    min-width: 150px;
    min-height: 150px;
} */

a {
    text-decoration: none;
    color: bisque;
}

header a:hover{
    background: linear-gradient(to right, red, white);
    color: blue;
    padding: 20px 10%;
}

header ul{
    padding-inline-start: 15%;
}

header a{
    margin-top: 10px;
    padding-left: 11%;
    width: 11%;
    padding-inline-end: 10%;
}




a:hover{
    background-color: bisque;
    color: black;
    padding: 5px 10px;
    border-radius: 100%;
}

ul{
    list-style-type: none;
}

header ul{
    display: inline-block;
    display: flex;
}

header ul li{
    margin-bottom: 10px;
    float: left;
    padding-inline-end: 20%;
}

nav ul{
    width: 100%;
}

nav ul li{
    margin-bottom: 10px;
    
}

nav{
    position: fixed;
    top: 15%;
    left: 3%;
    width: 10%;
    /* padding-inline-start: 3%; */
    /* float: left; */
    display: inline-block;    
    padding-inline-end: 1%;
}

nav img{
    max-width: 25%;
    
}

section{
    display: inline-block;
    align-content: center;
}
div{
    width: 41%;
    display: inline-block;
    float: left;
}


@media screen and (max-width: 1100px){

    /* section article p{
        width: 100%;
        }
        section article img{
            width: 100%;
        }
        .manUtd{
            width: 100%;
            height: auto;
        }
        .smalls{
            
            height: auto;
            min-height: 400px;
            width: 100%;
            max-height: 1000px;;
        }
        .adds{
            width: 100%;
            height: auto;
        }

        .cr7lisbon{
            width: 100%;
            padding-inline-start: 0%;
            margin-inline-start: 0%;
            height: auto;
        }
    section article img{
        width: 100%;
        height: auto;
        padding: 4% 10px;
    }*/
    .vvBigs{
        vertical-align: auto;
        height: auto;
        width: 100%;
     } 


     div{
         width: 90%;
     }


}
@media screen and (max-width: 1600px){

    .smalls{
        max-height: 150px;
    }
    .manUtd{
        height: auto;
    }
    
    .cr7lisbon{
        max-height: 180px;
        margin-left: 10%;
        width: auto;
    }
    .bigs{
        max-height: 500px;
    }
    .adds{
        max-height: 200px;
    }
    .vBigs{
        max-height: 450px;
    }
    .vvBigs{
       vertical-align: auto;
       height: 50%;
       width: auto;
    }
    


}







.toleft{
    margin-left: 5%;
    padding: 10px 2%;
    float: left;
}

.toright{
    padding: 10px 2%;
    float: right;
}

article{
    margin-left: 15%;
    border: 5px solid rgb(146, 23, 23);
    border-radius: 5%;
    width: 70%;
    box-shadow: 6px 6px 5px rgb(56, 50, 50);
    margin-block-start: 50px;
    padding: 10px 2%;
    display: inline-block;
    align-content: center;
}
article ul{
    width: 50%;
    text-align: justify;
    list-style-type: none;
    display: inline-block;
}

article img{
    width: 21%;
    padding: 10px 4%;
    padding-block-end: 30px;
}

button{

    background-color: brown;
    color: bisque;
    width: 10%;
    align-self: center;
    margin: 40px 44%;
    height: 45px;
}
button a:hover{
    border-radius: 50%;
    color: white;
    background-color: brown;
}
button:hover{
    border-radius: 50%;
}


footer{
    width: 100%;
    border-radius: 0%;
    border-style: none;
    background: linear-gradient(black, red);
    padding-block-end: 20px;
}

footer h2{
    padding-block-end: 30px;
}

footer article{
    width: 100%;
    padding-block-start: 0px;
    border-radius: 0%;
    border-style: none;
    color: bisque;
    box-shadow: none;
    padding: 0px 20%;
    align-content: center;
    margin-left: 0%;
}
footer ul{
    display: inline-block;
    width: 20%;
    padding-inline-end: 10%;
    
}



footer li{
    padding-block-end: 20px;
}

